<p-carousel [value]="education" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000">
  <ng-template let-edu pTemplate="item">
    <p-card [header]="edu.institution" [subheader]="edu.area + ' - ' + edu.studyType">
      <p-tag [value]="edu.startDate + ' - ' + edu.endDate" severity="success"></p-tag>
      <p class="mt-3">Score: {{ edu.score }}</p>
      <h4 class="mt-3">Courses:</h4>
      <p-chip *ngFor="let course of edu.courses" [label]="course" class="m-1"></p-chip>
    </p-card>
  </ng-template>
</p-carousel>
